@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
}

#addTask {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    background-color: #747578;
    padding: 20px;
    align-items: center;
    width: 300px;
    height: 300px;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight:100;
}

.card-title{
    font-weight: 700;
    margin-top: .2rem
}

.article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    background-color: #747578;
    padding: 20px;
    align-items: center;
    width: 300px;
}

.article input {
    margin: 10px 10px 10px 20px;
    width: 180px;
}

.article label {
    margin: 10px;
}

#createBtn {
    margin: 5px 10px;
    width: 80px;
}

.card {
    border-radius: 8px;
    width: 330px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(179, 179, 179);
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card h4{
    font-weight: 600;
}

.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.card small{
    font-weight: 500;
    text-decoration: none;
}

.txtInput {
    display: flex;
    justify-content: left;
}

.categoryBtn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
}

.btnContainer {
    display: flex;
    width: 100%;
    justify-content: right;
}

#ascend {
    width: 40px;
    height: 40px;
    margin-left: 180px;
    background-color: #06BEE1;
}

#descend {
    background-color: #4A314D;
    margin-right: 20px;
}

#descend-l {
    background-color: #4A314D;
    margin-right: 230px;
}

.eraseBtn {
    position: relative;
    left: 0;
    top: 0;
    border-radius: 10px;
    margin: 2px 5px;
    background-color: red;
}