body {}

#container {
    display: flex;
    flex-direction: row;
}

.article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    background-color: #747578;
    padding: 20px;
    align-items: center;
    width: 300px;
}

.article input {
    margin: 10px 10px 10px 20px;
    width: 180px;
}

.article label {
    margin: 10px;
}

#createBtn {
    margin: 5px 10px;
    width: 80px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px;
    background-color: #D4F5F5;
    border-radius: 10px;
    width: 280px;
}

.card p {
    margin: 10px;
}

.txtInput {
    display: flex;
    justify-content: left;
}

.categoryBtn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
}

.btnContainer {
    display: flex;
    width: 100%;
    justify-content: right;
}

#ascend {
    width: 40px;
    height: 40px;
    margin-left: 180px;
    background-color: #06BEE1;
}

#descend {
    background-color: #4A314D;
    margin-right: 20px;
}

#descend-l {
    background-color: #4A314D;
    margin-right: 230px;
}

.eraseBtn {
    position: relative;
    left: 0;
    top: 0;
    border-radius: 10px;
    margin: 2px 5px;
    background-color: red;
}